body {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-image: url(Imagens/image.png);
  background-repeat: no-repeat;
  background-attachment: fixed; /* imagem fixa */
  background-position: center;
  transition: background 1s;
}

.container1 {
  opacity: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
  min-height: 100dvh; /* ocupa a altura real da tela */
  flex-direction: column;

  transition: 1s;
}
#titulo {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20vh;
  color: #0f610067;
  font-size: 5vw;
  background-color: #ffffff84;
  width: calc(60vw);
  min-width: 300px;
  height: 40vw;
  max-height: 400px;
  margin-inline: 15vw;
  border-radius: 30vw;
  transition: 1.5s;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.subt {
  color: #f5f5f500;
  background-color: #00000000;
  transition: 2s;
  width: 80%;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  transition: 1s;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.subt h1 {
  align-self: center;
}
.cell h2 {
  margin: 0px;
  font-size: 30px;
}
@media (max-width: 1000px) {
  .cell h2 {
    display: none;
  }
}
@media (max-height: px) {
  .cell h2 {
    display: none;
  }
}

.cell h2 {
  -webkit-text-stroke: 0.1vw black;
}
#whatsapp h2 {
  color: rgb(0, 255, 0);
}
#facebook h2 {
  color: blue;
}
#telefone h2 {
  color: rgb(0, 106, 255);
}
.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21vw, 1fr));
  column-gap: calc(38px + 8vw);
  row-gap: 5vw;
  padding: 3vw 3vw 0vw 3vw;
  margin-top: 80px;
  justify-items: center;
}

.cell {
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  background: linear-gradient(
    135deg,
    rgba(153, 255, 137, 0),
    rgb(255, 255, 255)
  );
  background-color: rgba(208, 208, 208, 0.961);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  width: 40vw;
  height: 40vw;
  max-width: 110%;
  max-height: 19vmax;
  border-radius: 3vw;
  user-select: none;
  align-content: center;
  justify-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: coarse) {
  .cell {
    max-height: 10vh;
  }
}
.cell:hover {
  background-color: #767676;
}
.cell:active {
  background-color: white;

  transform: scale(1.05);
  transition: none;
}
a {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.cell img {
  max-width: 70%;
  max-height: 70%;
  filter: brightness(0.9);
}
header img {
  max-width: 100%;
  max-height: 100%;
  background-color: #00000000;
  border-radius: 40px;
  padding-inline: 5vw;
  margin-bottom: 3vw;
  filter: contrast(1.3);
}

.logo {
  background-color: rgba(255, 255, 255, 0.662);
  border-radius: 8px;
  margin-left: 5vw;
}

header {
  filter: contrast(1.3);
  width: 100%;
  height: 5vmax;
  background-color: #00000040; /* Cor de fundo cinza claro */
  position: fixed;
  background-attachment: fixed;
  z-index: 100000;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

#telefones {
  display: none;
  text-align: center;
  color: white;
  background-color: #000000;

  width: 100vw;
  height: 100vh;
}
#telefones h1 {
  color: #ff4444;
  font-size: 2em;
  margin-top: 50px;
}
#telefones .telefone {
  font-size: 1.5em;
  margin: 20px 0;
}
#voltar {
  background-color: #00bfff;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 30px;
}
#voltar:hover {
  background-color: #0099cc;
}
